@mixin relative-center {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

@mixin background-position {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin flex {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    transform: translateY(-50%);
    top:50%;
    left:0;
    margin: 0 auto;
    text-align: center;
}