@media all and (max-width: 1200px) {
  .template--outer .template--navigation .template--arrow--1 {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .template--outer .template--navigation {
    position: relative;
    padding: 10px;
    top: -20px;
  }
}

